.git
.github/

__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
**/.pytest_cache/
.mypy_cache/
.ruff_cache/
.pytype/
.hypothesis/
htmlcov/
.coverage
coverage.xml
*.cover

.env
.env.*
*.log
*.sqlite3
*.db

venv/
**/venv/
env/
**/env/
.venv/
**/.venv/

node_modules/
**/node_modules/

.idea/
.vscode/
.DS_Store

*.egg-info/
dist/
build/

*.pdf
*.docx

tests/
infra/

pytest.ini

*.md
